# Jekyll build output and cache directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Local Bundler install output
.bundle/
vendor/

# Ignore the directory for local files during development
local/

# Ignore the lockfile generated during local builds
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore macOS Finder metadata
.DS_Store
